﻿body {
    padding-top: 20px;
    padding-bottom: 20px;
    background-image:url(back.JPG);
    background-attachment: fixed;
    background-repeat:no-repeat;
    -moz-background-size: 100%; /* Firefox 3.6+ 
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */*/
    
}

/* Set padding to keep content from hitting the edges */
.body-content {
   padding-left: 15px;
   padding-right: 15px;
    
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 280px;*/
}

ng-map {
    /*margin: 10px;*/
    /*float: left;*/
    display: block;
    /*width: 50%;*/
    height: 100%;
    width: 100%;
}

.seance {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 400px;
}


.today-film {
    width: 360px;
    height: 512px;
    float: left;
    margin-left: 2%;
    background-size: cover;              
    background-position: center;                   
    background-attachment: fixed; 
    min-height:100%;
}

.carousel-control {
  padding-top:10%;
  width:5%;
}