﻿<!DOCTYPE html>
<html ng-app="app" >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @Scripts.Render("~/ng")
    @Styles.Render("~/Content/bs")
    @Scripts.Render("~/bundles/modernizr")

    <script>
        angular.module('app', ['ngCookies'])
            .controller('loginCtrl', ['$scope', '$http', '$cookies', '$cookieStore', function ($scope, $http, $cookies, $cookieStore) {
                $scope.logged = false;

                var value = $cookies.get('user');
                if (value != null)
                    $scope.logged = true;

                $scope.logout = function () {
                    $cookies.remove('user');
                    $scope.logged = false;
                }

                $scope.loggin = function () {
                    $scope.showMessage = false;
                    var params = "grant_type=password&username=" + $scope.username + "&password=" + $scope.password;
                    $http({
                        url: '/Token',
                        method: "POST",
                        headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
                        data: params
                    })
                    .success(function (data, status, headers, config) {

                        $cookieStore.put('user', $scope.username);
                        $scope.logged = true;
                    })
                    .error(function (data, status, headers, config) {
                        $scope.message = $routeParams.message;

                        $scope.errorMessage = data.error_description.replace(/["']{1}/gi, "");
                    });
                }
            }]);
    </script>
</head>
<body ng-controller="loginCtrl">
    <div class="container navbar navbar-default" ng-show="logged">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Sights", "Index", "Admin", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li>@Html.ActionLink("События", "Index", "Showings", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Места", "Index", "Locations", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Сеансы", "Index", "Seances", new { area = "" }, null)</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a ng-show="logged">{{username}}</a></li>
                    <li><a href="javascript:void(0);" ng-click="logout();" ng-show="logged">Выйти</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container" ng-hide="logged" style="margin-top: 200px;">
        <form class="col-lg-offset-4 col-lg-4">
            <div class="form-group">
                <label>Логин</label><br />
                <input class="form-control" type="text" ng-model="username" />
            </div>
            <div class="form-group">
                <label>Пароль</label><br />
                <input class="form-control" type="password" ng-model="password" />
            </div>
            <button class="btn btn-primary" ng-click="loggin()">Войти</button>
        </form>
    </div>
    <div class="container" ng-show="logged">
        @RenderBody()
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
