﻿@model Sights.Models.Seance

@{
    ViewBag.Title = "Добавление сеанса";
    Layout = "~/Views/Admin/_Layout_Admin.cshtml";
}

<h2>Добавление</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Сеанса</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.ShowingId, "ShowingId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ShowingId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ShowingId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LocationId, "LocationId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("LocationId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.LocationId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Time, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Time, new { htmlAttributes = new { @class = "form-control datetimepicker" } })
                @Html.ValidationMessageFor(model => model.Time, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Type, new[]{
                   new SelectListItem() {Text = "Кино", Value = "Кино" },
                   new SelectListItem() {Text = "Театр", Value = "Театр" },
                   new SelectListItem() {Text = "Музей", Value = "Музей" },
                   new SelectListItem() {Text = "Концерт", Value = "Концерт" },
               },
                htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">    
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Готово" class="btn btn-default" />
            </div>
        </div>
    </div>
}


@section scripts {
    <script type="text/javascript">
        $(function () { // will trigger when the document is ready
            $('.datetimepicker').datetimepicker({
                locale: 'ru'
            }); //Initialise any date pickers
        });
    </script>
}

<div>
    @Html.ActionLink("Назад", "Index")
</div>
