﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script src="https://maps.google.com/maps/api/js?key=AIzaSyD9wKse4M5aJiSZeW7ZuzDIqxpykdkyfNU"></script>
    @Scripts.Render("~/ng")
    @Scripts.Render("~/app")
</head>
<body ng-app="app">
    <div class="container navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Sights", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="#/cinema">Кино</a></li>
                    <li><a href="#/theater">Спектакли</a></li>
                    <li><a href="#/museum">Выставки</a></li>
                    <li><a href="#/concert">Концерты</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a ng-show="loggedIn">{{username}}</a></li>
                    <li><a href="javascript:void(0);" ng-click="logout();" ng-show="loggedIn">Выйти</a></li>
                    <li><a href="javascript:void(0);" ng-click="showSign();" ng-hide="loggedIn">Войти</a></li>
                    <li><a href="javascript:void(0);" ng-click="showSignup();" ng-hide="loggedIn">Регистрация</a></li>
                </ul>
            </div>
        </div>
    </div>
    @RenderBody()
    

    <div ng-controller="signInCtrl" class="modal" id="signin">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Введите логин и пароль</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label>Логин:</label>
                            <input type="email" class="form-control" placeholder="Email" ng-model="username" />
                        </div>
                        <div class="form-group">
                            <label>Пароль:</label>
                            <input type="password" class="form-control" placeholder="Пароль" ng-model="password" />
                        </div>
                        <button class="btn btn-primary" ng-click="signIn()">Войти</button>
                        <button class="btn btn-default" ng-click="close();">Закрыть</button>
                        <div class="alert alert-success" role="alert" ng-show="!!successMessage">{{successMessage}}</div>
                        <div class="alert alert-danger" role="alert" ng-show="!!errorMessage">{{errorMessage}}</div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div ng-controller="registerCtrl" class="modal" id="signup">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Введите логин и пароль</h4>
                </div>
                <div class="modal-body">
                    <form ng-submit="signIn()">
                        <div class="form-group">
                            <label>Логин:</label>
                            <input type="email" class="form-control" placeholder="Email" ng-model="username" />
                        </div>
                        <div class="form-group">
                            <label>Пароль:</label>
                            <input type="password" class="form-control" placeholder="Пароль" ng-model="password" />
                        </div>
                        <button class="btn btn-primary" ng-click="register();">Зарегистрироваться</button>
                        <button class="btn btn-default" ng-click="close();">Закрыть</button>
                    </form>
                    <div class="alert alert-success" role="alert" ng-show="!!successMessage">{{successMessage}}</div>
                    <div class="alert alert-danger" role="alert" ng-show="!!errorMessage">{{errorMessage}}</div>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
