﻿<div class="row">
    <div ng-repeat="film in films | orderBy:rating:false">
        <div class="panel panel-success today-film" ng-init="film.hide = true;" 
             ng-style="{'background' : 'url(http://st.kp.yandex.net/images/' + film.posterURL.replace('iphone60', 'iphone360') +')'}"
                 ng-mouseenter="film.hide = false;"
                 ng-mouseleave="film.hide = true;"
             >
            <div class="panel-heading">
                <h3 class="panel-title">{{film.nameRU}} {{film.rating}}</h3>
            </div>
            <div class="panel-body">
                <div class="text-center" role="group" ng-hide="film.hide">
                    <button class="btn btn-default col-md-4 col-md-offset-4" ng-click="showDetail(film);">Детали</button>
                    <button class="btn btn-default col-md-4 col-md-offset-4" ng-click="showTrailer(film);">Трейлер</button>
                    <a href="{{'/#/seance/' + film.id}}" class="btn btn-default col-md-4 col-md-offset-4">Сеансы</a>
                    <a href="{{'/#/comments/' + film.id}}" class="btn btn-default col-md-4 col-md-offset-4">Отзывы</a>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="filmDetail">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{filmDetail.nameRU}} <small>{{filmDetail.nameEN}}</small></h4>
                <button class="close" data-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <label>Жанр:</label> {{filmDetail.genre}}<br />
                <label>Продолжительность:</label> {{filmDetail.filmLength}}<br />
                <p>{{filmDetail.description}}</p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="filmTrailer">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{filmDetail.nameRU}} <small>{{filmDetail.nameEN}}</small></h4>
                <button class="close" data-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div align="center" class="embed-responsive embed-responsive-16by9">
                    <video autoplay class="embed-responsive-item" ng-src="{{filmDetail.videoURL}}" controls></video>
                </div>
            </div>
        </div>
    </div>
</div>