﻿<div ng-repeat="comment in comments">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">{{comment.Username}}</h3>
        </div>
        <div class="panel-body">
            <p>
                {{comment.Text}}
            </p>
        </div>
    </div>
</div>

<div ng-hide="comments.length > 0">
    <div class="panel">
        <div class="panel-body">
            <h4>Здесь нет ни одного отзыва, будьте первым, поделитесь своим мнением :)</h4>
        </div>
    </div>
</div>


<div>
    <div class="panel">
        <div class="panel-body">
            <form>
                <div class="row">
                    <div class="col-xs-12">
                        <textarea class="form-control" ng-model="comment" placeholder="Добавьте комментарий..."></textarea>
                    </div>
                </div>
                <br />
                <button ng-disabled="!loggedIn" class="btn btn-primary pull-right" ng-click="addComment();">Добавить</button>
            </form>
        </div>
    </div>
</div>


