﻿<div>
    <div style="height: 80vh;">
        <ng-map zoom="13" center="{{map.center}}" disable-default-u-i="true" user-scalable="no">
            <marker ng-repeat="cinema in cinemas"
                    position="{{[cinema.lat, cinema.lon]}}"
                    title="{{cinema.cinemaName}}"
                    icon="~/Content/film-roll.png"
                    animation="Animation.DROP"
                    on-click="showInfo(cinema.cinemaID);">
            </marker>
            <marker ng-repeat="item in others"
                    position="{{[item.Latitude, item.Longitude]}}"
                    title="{{item.Name}}"
                    icon="{{getIcon(item.Type)}}"
                    animation="Animation.DROP"
                    on-click="showShowing(item);">
            </marker>
        </ng-map>
    </div>
</div>

<div class="modal" id="cinemaInfoShow">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><b>{{cinemaInfo.cinemaName}}</b> <small>{{cinemaInfo.cinemaLocation.addressDescription}}</small></h4>
                <label ng-show="!!cinemaInfo.cinemaTelephone">Телефон:&nbsp;</label>{{cinemaInfo.cinemaTelephone}}<br />
                <label ng-show="!!cinemaInfo.cinemaWeb">Сайт:&nbsp;</label><a href="{{cinemaInfo.cinemaWeb}}">{{cinemaInfo.cinemaWeb}}</a>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div ng-show="!!cinemaInfo.seance.items">
                        <div ng-repeat="seance in cinemaInfo.seance.items">
                            <div class="row">
                                <h4 class="container">&nbsp&nbsp&nbsp<b>{{seance.nameRU}}</b> <small>{{seance.nameEN}}</small></h4>
                                <div class="col-md-2">
                                    <img ng-src="{{'http://st.kp.yandex.net/images/' + seance.posterURL}}" style="width:60px; height:86px; float:right;" />
                                </div>

                                <div class="col-md-10">
                                    <label ng-show="!!seance.genre">Жанр: </label> {{seance.genre}}<br />
                                    <label ng-show="!!seance.rating">Рейтинг: </label> {{seance.rating}}<br />
                                    <label ng-show="!!seance.filmLength">Продолжительность: </label> {{seance.filmLength}}<br />
                                </div>
                            </div>

                            <div ng-show="!!seance.seance" class="row">
                                <div class="col-md-12">
                                    <label>&nbsp&nbsp&nbspСеансы 2D:</label>
                                    <text ng-repeat="time in seance.seance">{{time}}, </text>
                                </div>
                            </div>
                            <div ng-show="!!seance.seance3D" class="row">
                                <div class="col-md-12">
                                    <label>&nbsp&nbsp&nbspСеансы 3D:</label>
                                    <text ng-repeat="time in seance.seance3D">{{time}}; </text>
                                </div>
                            </div>
                            <hr />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal" id="otherInfoShow">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><b>{{showing.Name}}</b> <small>{{showing.Address}}</small></h4>
                <label ng-show="!!showing.Description"></label>{{showing.Description}}<br />
            </div>
            <div class="modal-body">
                <div class="row">
                    <div ng-show="!!showing.items">
                        <div class="container" ng-repeat="seance in showing.items">
                            <div class="row">
                                <div class="row container">
                                    <h4>&nbsp&nbsp&nbsp<b>{{seance.Name}}</b></h4>
                                </div>
                                <div class="row">
                                    <div class="col-md-1">
                                        <div style="width:60px; height:86px; float:right;">
                                            <img ng-src="{{seance.PosterUrl}}" class="img-responsive" />
                                        </div>
                                    </div>
                                    <div class="col-md-11">
                                        @*<label ng-show="!!seance.Author">Автор: </label> {{seance.Author}}<br />*@
                                        <label ng-show="!!seance.Genre">Что? </label> {{seance.Genre}}<br />
                                        <label>Когда?</label>
                                        <text ng-repeat="time in seance.Seances">{{time.Time | date:'dd MMMM HH:mm (EEEE)'}} </text><br />
                                        <label ng-show="!!seance.Duration">Продолжительность: </label> {{seance.Duration}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <br /><label ng-show="!!seance.Description"> </label> {{seance.Description}}<br /><hr />
                            </div>
                            <div class="col-lg-5">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>