﻿<div class="col-md-12">
    <div class="panel panel-success">
        <div class="panel-body">
            <h4><b>{{film.nameRU}} </b><small>{{film.nameEN}}</small></h4>
        </div>
    </div>
</div>

<div class="col-md-6" style="height: 57vh;">
    <ng-map zoom="12" center="{{map.center}}">
        <marker ng-repeat="cinema in cinemas"
                position="{{[cinema.lat, cinema.lon]}}"
                title="{{cinema.cinemaName}}"
                icon="~/Content/film-roll.png"
                animation="Animation.DROP"
                on-click="seanceInfo(cinema);">
        </marker>
    </ng-map>
</div>

<div class="col-md-6">
    <div class="panel panel-success">
        <div class="panel-body">
            <h4 ng-show="!cinemaInfo">Выберите кинотеатр</h4>
            <h4>{{cinemaInfo.cinemaName}} <small>{{cinemaInfo.address}}</small></h4>
        </div>
    </div>
</div>

<div class="col-md-3">
    <div ng-show="!!cinemaInfo.seance" class="panel panel-success">
        <div class="panel-heading">
            <h4>Сеансы 2D:</h4>
        </div>
        <div class="panel-body" style="height: 40vh; overflow-x: hidden;">
            <div ng-repeat="item in cinemaInfo.seance">
                <div class="row container">
                    <p>{{item}}</p>
                    <hr />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-3">
    <div ng-show="!!cinemaInfo.seance" class="panel panel-success">
        <div class="panel-heading">
            <h4>Сеансы 3D:</h4>
        </div>
        <div class="panel-body" style="height: 40vh; overflow-x: hidden;">
            <div ng-repeat="item in cinemaInfo.seance3D">
                <div class="row container">
                    <p>{{item}}</p>
                    <hr />
                </div>
            </div>
        </div>
    </div>
</div>