﻿<div class="row">
    <div ng-hide="items.length > 0">
        <div class="panel panel-success">
            <div class="panel-body">
                <h2>Извините, на сегодня сеансов нет.</h2>
            </div>
        </div>
    </div>
    <div ng-repeat="item in items | orderBy: item.Id">
        <div class="panel panel-success today-film" ng-init="item.hide = true;"
             ng-style="{'background':'url('+item.PosterUrl+')'}"
             style="background-size:cover;"
             ng-mouseenter="item.hide = false;"
             ng-mouseleave="item.hide = true;">
            <div class="panel-heading">
                <h3 class="panel-title">{{item.Name}} ({{item.Author}})</h3>
            </div>
            <div class="panel-body">
                @*<div style="height: 400px; width:100%;">
                    <img ng-src="{{item.PosterUrl}}" class="img-responsive" />
                </div>*@
                <div class="text-center" role="group" ng-hide="item.hide">
                    <button class="btn btn-default col-md-4 col-md-offset-4" ng-click="showDetail(item);">Детали</button>
                    <a href="{{'/#/comments/' + item.Id}}" class="btn btn-default col-md-4 col-md-offset-4">Отзывы</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="detail">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{detail.Name}}</h4>
                <button class="close" data-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <label>Что?</label> {{detail.Genre}}<br />
                <label>Где?</label> {{detail.Location.Address}}<br />
                <label>Когда?</label> 
                <div ng-repeat="seance in seances">{{detail.Seances}};</div>
                <label>Продолжительность:</label> {{detail.Duration}}<br />
                <p>{{detail.Description}}</p>
            </div>
        </div>
    </div>
</div>